.App {
  text-align: center;
}

img {
  width: 100%;
}

.container {
  /*display: flex;
  flex-wrap: wrap;*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.item {
  padding: 2px;
  position: relative;
  overflow: hidden;
}

.overlay {
  transition: bottom ease 2s;
  position: absolute;
  bottom: -120px;
  left: 0;
  width: 100%;
  opacity: 0.6;
  background-color: whitesmoke;
}

.item:hover .overlay {
  opacity: .6;
  bottom: 0;
}